@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
body{
    margin-top: 0px;
    background-image: url(undraw_book_reading_re_fu2c.svg);
}
header{
    height:12vh;
    width: 35vw;
    margin: auto;
    margin-top: 0px;
    margin-bottom:25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #F50057;
    font-family: 'Dela Gothic One', cursive;
}
h1{
    height:4vh;
    margin-top: 0px;
    font-size: 47px ;
}
h1:hover{
    transition: 0.2s;
    transform: scale(1.3);
}
#date{
    height:3vh;
    min-width: 220px;
    margin: 16px 0px;
    font-size: 18px;
    font-weight: 100px;   
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#totalbar{
    display: flex;
    justify-content: center;
}
#inputbar{
    font-family: 'Dela Gothic One', cursive;
    border-radius: 8px;
    width: 90vw;
    max-width: 750px;
    height: 30px;
    color: rgb(37, 37, 37);
    font-size:17px;
    background-color: rgba(211, 211, 211, 0.253);
    border-color: transparent;
    margin-top: 25px;
}
button{
    cursor: pointer;
    color: white;
    border-radius: 6px;
    border-color: transparent;
    background-color: rgba(3, 3, 3, 0.842);
    font-weight: 800;
    font-size: 20px;
    width: 35px;
    height: 37px;
    position:relative;
    top: 26px;
    left: 3px;
}
.addbtn :hover { 
    background-color: #F50057;
    transition: transform 0.3s;
    transform: scale(1.3);
}

.tasklist{
    height: 55vh;
    width: 96vw;
    max-width: 790px;
    margin-top: 2px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.253);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large;
    opacity: 0.8; 
}
footer{
    display: flex;
    justify-content: center;
    margin:10px 0vw;
    gap: 40px;
}
a{
    color: #F50057;
    transition: transform 0.1s;
}
a :hover{
    transform: scale(1.4);
}